<ion-content scroll-y="true">
  <ion-item color="success">
    <ion-label><h5>{{usuario}}</h5></ion-label>
    
  </ion-item>
  <ion-item-divider>
    <ion-label>
      Promociones
    </ion-label>
  </ion-item-divider>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let item of slide">
      <ion-card>
        <ion-img [src]="item.img"></ion-img>
        <ion-card-header>
          <!-- <ion-card-subtitle>{{item.subTitulo}}</ion-card-subtitle>
            <ion-card-title style="font-size: 14px;">{{item.titulo}}</ion-card-title> -->
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-item-divider>
    <ion-label>
      Servicios
    </ion-label>
  </ion-item-divider>
  <div *ngFor="let item of listServicios">
    <ion-card>
      <ion-card-header>
        <ion-img
          [src]="item.urlImg">
        </ion-img>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>{{item.nombre}}</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        {{item.descripcion}}
      </ion-card-content>
      <ion-button fill="clear">Agregar al Carrito</ion-button>
    </ion-card>
  </div>

 
</ion-content>

