<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-tabs >
  <ion-tab-bar color="success" slot="bottom,top">
    <ion-tab-button tab="tab1" routerLink="/comentarios">
      <ion-icon name="heart-sharp"></ion-icon>
      <ion-label>Comentarios</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab2" routerLink="/login">>
      <ion-icon name="accessibility-sharp"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab3" routerLink="/registro">
      <ion-icon name="create-sharp"></ion-icon>
      <ion-label>Registro</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
