
<ion-content >
  <ion-grid>
    <ion-item color="success">
      <ion-searchbar></ion-searchbar>
      <ion-icon slot="icon-only" slot="end" name="cart-sharp"></ion-icon>
    </ion-item>
  </ion-grid>
  <!-- Logo -->

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let item of slide">
      <ion-card>
        <ion-img [src]="item.img"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>{{item.subTitulo}}</ion-card-subtitle>
          <ion-card-title style="font-size: 14px;">{{item.titulo}}</ion-card-title>
        </ion-card-header>
        <!-- <ion-card-content style="font-size: 10px; text-align:justify;">
            <p>{{item.descripcion}}</p>
          </ion-card-content> -->
      </ion-card>
    </ion-slide>
  </ion-slides>


</ion-content>


